<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <style>


html, body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
        background-color: lightblue;
        background-image: none;
      }
    img {
      border: 1px sol2#ddd;
      border-radius: 4px;
      padding: 5px; 
      width: 100px; 
    }
    
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

  table td  {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

h1 {
    font-size: 18px;
}
a {
    color: #0000;
    text-decoration: underline;
}
a:hover {
    color: #0000;
    text-decoration: none;
}
h2 {
    font-size: 16px;
}
p {
    font-size: 14px;
}

</style>

  <title>Admin</title>

  <link href="/stylesheets/css.css" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>

    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container">
          <h3>Admin dashboard</h3>
          <div>
          <div class="form-group" style="float:left; margin-right: 25px;">
          <form method="GET" action="/dodaj">
            <button class="btn btn-primary" type="submit" value="Dodaj">Dodaj</button>
          </form>
          </div>
          <div class="form-group" style="float: right; " >
          <form method="GET" action="/statistika_admin">
            <button class="btn btn-primary" type="submit" value="Statistika">Statistika</button>
          </form>
          </div>
          
        </div>
          </div>
          <ul class="navbar-nav ml-auto">
            <% if (locals.user) { %>
  
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
             
              <% } else{ %>  
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
                </li>
             <% } %>
          </ul>
      </nav>


  <div class="container">

    <div class="row ">

        <table  class="table table-hover" style="margin-top: 20px;">
            <thead>
              <tr>
                <th>Naslov</th>
                <th>Opis</th>
                <th>Handle</th>
              </tr>
            </thead>
            <tbody>
                <% data.forEach(function(o) { %>
              <tr>
                <td class="w-25">
                <img src="<%= o.Image %>" alt="">
                <a href="/novice/<%=o.idClanek%>" ><%= o.Naziv %></a></td>
                <td class="w-50" style="text-align: center;">
                 <p style="padding-top: 30px;"> <%= o.Opis %></p>
                </td>
                <td >

                  <div class="form-group" >
                      <form method="post" action="/izbrisi_clanek/<%=o.idClanek%>">
                       <button class="btn btn-primary"  type="submit"
                        value="Delete">Izbriši
                      </button>
                      </form>
                  </div>
                
                  <div class="form-group">
                      <form method="GET" action="/edit/<%=o.idClanek%>">
                      <button class="btn btn-primary"  type="submit"
                        value="Edit">Uredi
                      </button>
                      </form>
                  </div>
                </td>
              </tr>
              <% }); %>
                
            </tbody>
          </table>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  
  <!-- Bootstrap core JavaScript -->
  

</body>


</html>
