<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dijagnoza</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    body {
      background-image: url(../images/ozadje.jpg);
    }

    h2,
    h3,
    #pb {
      text-align: center;
    }

    #map {
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .marker {
      background-image: url(../images/mapbox-icon.png);
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }

    .mapboxgl-popup {
      max-width: 200px;
    }

    .mapboxgl-popup-content {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
    #pridobi
    {
display: none;    }
  </style>


  <link rel="stylesheet" href="/stylesheets/css.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><b>Dijagnoza</b></a>
      <a class="navbar-brand" href="/">Domov</a>
      <a class="navbar-brand" href="/novice">Novice</a>
      <a class="navbar-brand" href="/vnos">Vnos bolezen</a>
      <a class="navbar-brand" href="/statistika">Statistika</a>
      <a class="navbar-brand" href="/prijatelji">Prijatelji</a>
      <a class="navbar-brand" href="/koledar">Koledar</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if (locals.user) { %>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

          <% } else{ %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>

  <form method="POST">
 
    <div class="row">
      <div class="col-sm-1"> </div>
      <div class="col-sm-6" style="margin-top: 38px;">
        <img src="https://www.autismawareness.com.au/wp-content/uploads/2019/02/Diagnosis-image.jpg" alt="dijagnoza"
          height="450px" width="650px">
        <br> <br>
        <h2>Dobili ste dijagnozo:
          <hr> <%= data[0].Naziv %></h2>
        <br>
        <button class="btn btn-primary" id='pb' style="position: absolute;" style="align-content: center;">Preberi
          vec</button>
        <input type="submit">
  </form>
  </div>


    
    <% if (data[0].Naziv=='Covid-19') { %>

      
  <div class="col-sm-5" >
    <h4 style="text-align: center;">Mesta testiranja v vase okolje: </h2>
    <div id='map' style='width: 500px; height: 500px;'></div>
    <script>

var markers=<%- JSON.stringify(location) %>;
      var geojson = {
      type: "FeatureCollection",
      features: []
};

      mapboxgl.accessToken = 'pk.eyJ1IjoidmlrdG9ybmFuIiwiYSI6ImNrYWZjaGp5dTAxanoycXM5NnMycnlpZnEifQ.oTEjxlvAVCPgP5YjRJBFDA';
      var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [14.800617652284501, 46.048555553286945], // starting position
        zoom: 7
         // starting zoom
      });

      // Add geolocate control to the map.
      /* map.addControl(
         new mapboxgl.GeolocateControl({
           positionOptions: {
             enableHighAccuracy: true
           },
           trackUserLocation: true
         }),
         
       );*/
      var geolocate = new mapboxgl.GeolocateControl({
        positionOptions: {
          enableHighAccuracy: true
        },
        trackUserLocation: true
      });
      // Add the control to the map.
      map.addControl(geolocate);
      // Set an event listener that fires when a geolocate event occurs.
      geolocate.on('geolocate', function (e) {
        var longitude = e.coords.longitude;
        var latitude = e.coords.latitude
        var position = [longitude, latitude];
        console.log(longitude);
        console.log(latitude);
        //console.log(position);
        let nova_lokacija = {
          Lat: e.coords.latitude,
          Lng: e.coords.longitude,
        }
        document.getElementById('lat').value = e.lngLat.lat;
        document.getElementById('lon').value = e.lngLat.lng;
      });

      for (i = 0; i < markers.length; i++) {
  
  geojson.features.push({
    "type": "Feature",
    "geometry": {
      "type": "Point",
      "coordinates": [markers[i].Lat, markers[i].Lng]
    },
    "properties": {
      "title": markers[i].Naziv,
      "description": markers[i].Naslov
          }
    
  });
}


console.log(geojson);
      
      // add markers to map
      geojson.features.forEach(function(marker) {

// create a HTML element for each feature
var el = document.createElement('div');
el.className = 'marker';
console.log(marker);

// make a marker for each feature and add to the map
new mapboxgl.Marker(el)
  .setLngLat(marker.geometry.coordinates).setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
  .addTo(map);

  <% if (locals.user) { %>
  map.on('click', function (e) {

          document.getElementById('lat').value = e.lngLat.lat;
          document.getElementById('lon').value = e.lngLat.lng;
          $('#pridobi').show();

        });
        <% } %>
});
       
     
    </script>

    
        <% if (locals.user) { %>
   <p><b>Klikni na mapo za pridobitev lokacije</b></p>
        <form method="POST" action="/termin">
  
          <input type="hidden" id="lon" name="lon" required>
    
          <input type="hidden" id="lat" name="lat" required>
          
          <button class="btn btn-primary" id="pridobi" type="submit">Pridobi termin</button>
        </form>
     
    <% } %>
    <% } %>



  </div>
  </div>
  </div>
</body>
<br> <br>
<footer class="py-5 bg-dark">

  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Ekipa12 2020</p>
  </div>
</footer>

</html>