<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin</title>

  <link href="/stylesheets/css.css" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <style>

html,body
  {
    background-color: #ADD8E6 !important;
    background-image: none;
  }

  .container {

    display: flex;
    justify-content: center;
    align-items: center;
}
 
 
 
</style>

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container">
          <h3>Admin dashboard</h3>
          <div>
          <div class="form-group" style="float:left; margin-right: 25px;">
          <form method="GET" action="/dodaj">
            <button class="btn btn-primary" type="submit" value="Dodaj">Dodaj</button>
          </form>
          </div>
          <div class="form-group" style="float: right; " >
          <form method="GET" action="/statistika_admin">
            <button class="btn btn-primary" type="submit" value="Statistika">Statistika</button>
          </form>
          </div>
        </div>
          </div>
      </nav>


  <!-- Page Content -->
  <div class="container" >
    <div class="col-lg-8" style="padding-top:100px;">
        <form action="" method="POST">
            <div class="form-row">
                <div class="form-group col-md-2" style="padding:25px;">
                    <label >Novih
                    </label>
                    <input type="text" class="form-control" id="nov" name="nov" value="<%= stats[0].SteviloNovih %>">
                  </div>

                  <div class="form-group col-md-2" style="padding:25px;">
                    <label>Potrjennih
                    </label>
                    <input type="text" class="form-control" id="pot" name="pot" value="<%= stats[0].SteviloPotrjenih %>">
                  </div>

                  <div class="form-group col-md-2" style="padding:25px;">
                    <label >Ozdravljeni</label>
                    <input type="text" class="form-control" id="ozd" name="ozd" value="<%= stats[0].SteviloOzdravljenih %>">
                  </div>

                  <div class="form-group col-md-2" style="padding:25px;">
                    <label >Umrli</label>
                    <input type="text" class="form-control" id="umr" name="umr" value="<%= stats[0].SteviloUmrlih %>">
                  </div>
                 
            </div>
            <div class="form-row">
            <button type="submit" class="btn btn-primary">Uredi</button>
            </div>
          </form>
   </div> 
  </div>
  
   
</body>

</html>
