<!DOCTYPE html>
<html lang="en">

<head>
  <title>Prijatelji</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/stylesheets/css.css" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>

    body
    {
      background-color: #ADD8E6 !important;
      background-image: none;
      font-family: "Helvetica Neue", Helvetica, Arial !important;
    }



</style>

<body>

  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/prijatelji"><b>Prijatelji</b></a>
      <a class="navbar-brand" href="/">Domov</a>
      <a class="navbar-brand" href="/vnos">Vnos bolezen</a>
      <a class="navbar-brand" href="/statistika">Statistika</a>
      <a class="navbar-brand" href="/novice">Novice</a>
      <a class="navbar-brand" href="/koledar">Koledar</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" style="float: right;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
              Obavestila
            </button>
          </li>
            <% if (locals.user) { %>
              <li class="nav-item" style="float: right;">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <% } else{ %>  
                <li class="nav-item" style="float: right;>
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" style="float: right;>
                  <a class="nav-link" href="/register">Register</a>
                </li>
             <% } %>
        </ul>
      </div>
    </div>
  </nav>
    <section id="hero">
    <div class="hero-container">
      <h1>Prikaz prijatelji</h1>
      <form method="post" action="/prijatelj/dodaj">
        <h2>Dodaj prijatelj:<input type="text" id="email" name="email"></h2>
        <button class="btn btn-primary" type="submit" value="Dodaj">Dodaj
        </button>
      </form>
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section>

  <div class="row">
    <div class="col-sm-1">
    </div>


    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <div class="people-nearby">

            <% data.forEach(function(u) { %>

            <div class="nearby-user">
              <div class="row">
                <div class="col-md-2 col-sm-2">
                  <img src="/images/avatar.png" alt="user"
                    class="profile-photo-lg">
                </div>
                <div class="col-md-7 col-sm-7">
                  <br>
                  <p style="font-size: large;"><b><%= u.ime %> <%= u.priimek %></b></p>
                  <p><%= u.email %></p>
                </div>
                <div class="col-md-3 col-sm-3">
                  <br>
                  <form method="post" action="/delete/<%=u.idUporabnik%>">
                    <button class="btn btn-primary pull-right" type="submit" value="Delete">Izbriši prijatelj
                    </button>
                  </form>
                </div>
              </div>
             
              </div>
              <% }); %>

          </div>
        </div>
      </div>
    </div>

  
    <div class="modal fade " id="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Obavestila</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            <% data.forEach(function(u) { %>

            <% if ((u.okruzba1 == 1 && u.Uporabnik_idUporabnik != locals.user) || (u.okruzba2 == 1 && u.Uporabnik_idUporabnik1 != locals.user) ) { %>
             
            <div class="row">
              <p><b>Potvrdjena dijagnoza covid19</b></p>
              <div class="col-md-7 col-sm-7">
                <p style="font-size: large;"><b><%= u.ime %> <%= u.priimek %></b></p>
                <p><%= u.email %></p>
              </div>
              <div class="col-md-3 col-sm-3">
                <br>
                <form id="okruzba" method="POST" action="/okruzba/<%=u.idUporabnik%>">
                  <button type="submit" class="btn btn-secondary" >X</button>
                </form>
              </div>
            </div>
            <% } %>
            <% }); %>
           
          </div>
          <div class="modal-footer">
            <form method="GET" action="/vnos">
              <button type="submit" class="btn btn-primary">Vnesi simptome</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>
    
    


</html>