<!DOCTYPE html>
<html lang="en">

<head>
  <title>Statistika</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="../stylesheets/css.css" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>
<style>
  .forme 
  {
    display: none;
  }
  body
    {
      background-color: #ADD8E6 !important;
      background-image: none;
      font-family: "Helvetica Neue", Helvetica, Arial !important;
    }
 

</style>
<script>
  console.log('values');
</script>
<body>
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/statistika"><b>Statistika</b></a>
          <a class="navbar-brand" href="/">Domov</a>
          <a class="navbar-brand" href="/vnos">Vnos bolezen</a>
          <a class="navbar-brand" href="/prijatelji">Prijatelji</a>
          <a class="navbar-brand" href="/novice">Novice</a>
          <a class="navbar-brand" href="/koledar">Koledar</a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" style="float: right;">
              <% if (locals.user) { %>
    
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
               
                <% } else{ %>  
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
               <% } %>
            </ul>
          </div>
        </div>
      </nav>


  <div class="row justify-content-center" >
    <div class="col-sm-5">
      <label style="font-size: 1cm;"><b>Statistika bolezni</b></label> <br>
      <label style="font-size: 0,3cm;"><i>Izaberite pregled po mesecih ali po letih
          za prikaz statistiko vo grafično obliko
        </i></label>
        <div class="form-group">
          <select class="form-control" id="getform">
          <option value="">Izbira</option>
          <option value="forma1">Prikaz stevila okuzenih po mesecima</option>
          <option value="forma2">Prikaz stevila okuzenih po letima</option>
          <option value="forma3">Prikaz dijagnoza za mesec in leto</option>
          <% if (locals.user) { %>
          <option value="forma4">Prikaz bolezni uporabnika za leto</option>
          <% } %>  
        </select>
        </div>
      
      <div id="forma1" class="forme">
      <form action="/mesec" method="POST">
        <div class="form-group" >
        <input type="text" id="Leto" name="Leto"  class="form-control" placeholder="Leto" required/>
        <br>
        <button class="btn btn-primary" onclick="" type="submit">Prikazi</button>
        </div>
        </form>
      </form>
    </div>
   
    <div id="forma2" class="forme">
      <form action="/leto" method="POST">
        <div class="form-group">
        <button class="btn btn-primary" onclick="" type="submit">Prikazi</button>
      </div>
      </form>
</div>
<div id="forma3" class="forme">
      <form action="/mesecbolezen" method="POST">
        <div class="form-group">
        <input type="text" id="Mesec" name="Mesec" class="form-control" placeholder="Mesec" required/>
        <br>
        <input type="text" id="Leto" name="Leto"  class="form-control"  placeholder="Leto" required/>

        <br>
        <button class="btn btn-primary" onclick="" type="submit">Prikazi</button>
      </div>
      </form>
    </div>

    <div id="forma4" class="forme">
      <form action="/bolezniuporabnik" method="POST">
        <div class="form-group">
        <br>
        <input type="text" id="Leto" name="Leto"  class="form-control"  placeholder="Leto" required/>
        <br>
        <button class="btn btn-primary" onclick="" type="submit">Prikazi</button>
      </div>
      </form>
    </div>

    <script>
  $('#getform').on('change',function(){
   $('.forme').hide();
   var formID = $('#getform').val();  
   $('#'+formID).css('display', 'block');
});  
    </script>
     </div>
<div class="col-8" style="width: 100%; background-color: whitesmoke; ">
  <canvas id="myChart"></canvas>
</div>
   
     
 
  </div>
          
      
    



<script>
  if (<%- JSON.stringify(data) %>!=null)
  {
      var value= <%- JSON.stringify(data) %>;
       let chart =[];
         value.forEach(function(u) 
            {
              i=0;
              chart.push(u[i].broj);
              i++;

        });     
        console.log(chart);
      //function prikaziChart() {
        let myChart = document.getElementById('myChart').getContext('2d');

// Global Options
Chart.defaults.global.defaultFontFamily = 'Lato';
Chart.defaults.global.defaultFontSize = 18;
Chart.defaults.global.defaultFontColor = '#777';
console.log(window.location.href);
if(window.location.href=='http://localhost:3000/mesec') 
      {

let chartMesec = new Chart(myChart, {
  type:'bar',
  data:{
    labels:['Januar', 'Februar', 'Mart', 'April', 'Maj', 'Jun', 'Jul', 'Avgust', 'Septembar', 'Oktobar', 'Novembar', 'Decembar'],
    datasets:[{
      label:'Stevilo okuzenih po mesecu',
      data:chart,
      backgroundColor:[
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(75, 192, 192, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(255, 159, 64, 0.6)',
        'rgba(255, 99, 132, 0.6)'
      ],
      borderWidth:1,
      borderColor:'#777',
      hoverBorderWidth:3,
      hoverBorderColor:'#000'
    }]
  },
  options:{
    title:{
      display:true,
      text:'Prikaz okuzenih po mesecima',
      fontSize:25
    },
    legend:{
      display:false,
      position:'right',
      labels:{
        fontColor:'#000'
      }
    },
    layout:{
      padding:{
        left:50,
        right:0,
        bottom:0,
        top:0
      }
    },
    tooltips:{
      enabled:true
    }
  }
});
      }


      if(window.location.href=='http://localhost:3000/leto') 
      {

let chartLeto = new Chart(myChart, {
  type:'bar',
  data:{
    labels:['2018', '2019', '2020'],
    datasets:[{
      label:'Prikaz stevila okuzenih po letima',
      data:chart,
      backgroundColor:[
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(75, 192, 192, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(255, 159, 64, 0.6)',
        'rgba(255, 99, 132, 0.6)'
      ],
      borderWidth:1,
      borderColor:'#777',
      hoverBorderWidth:3,
      hoverBorderColor:'#000'
    }]
  },
  options:{
    title:{
      display:true,
      text:'Prikaz stevila okuzenih po letima',
      fontSize:25
    },
    legend:{
      display:false,
      position:'right',
      labels:{
        fontColor:'#000'
      }
    },
    layout:{
      padding:{
        left:50,
        right:0,
        bottom:0,
        top:0
      }
    },
    tooltips:{
      enabled:true
    }
  }
});
      }
      
      

      if(window.location.href=='http://localhost:3000/mesecbolezen') 
      {

let chartBolezen = new Chart(myChart, {
  type:'bar',
  data:{
    labels:['Gripa', 'Alergija', 'Prehlada', 'Covid19'],
    datasets:[{
      label:'Prikaz dijagnoza za mesec in leto',
      data:chart,
      backgroundColor:[
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(75, 192, 192, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(255, 159, 64, 0.6)',
        'rgba(255, 99, 132, 0.6)'
      ],
      borderWidth:1,
      borderColor:'#777',
      hoverBorderWidth:3,
      hoverBorderColor:'#000'
    }]
  },
  options:{
    title:{
      display:true,
      text:'Prikaz dijagnoza za mesec in leto',
      fontSize:25
    },
    legend:{
      display:false,
      position:'right',
      labels:{
        fontColor:'#000'
      }
    },
    layout:{
      padding:{
        left:50,
        right:0,
        bottom:0,
        top:0
      }
    },
    tooltips:{
      enabled:true
    }
  }
});
      }   



 if(window.location.href=='http://localhost:3000/bolezniuporabnik') 
      {

let chartUporabnik = new Chart(myChart, {
  type:'bar',
  data:{
    labels:['Gripa', 'Alergija', 'Prehlada', 'Covid19'],
    datasets:[{
      label:'Prikaz dijagnoza uporabnika',
      data:chart,
      backgroundColor:[
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(75, 192, 192, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(255, 159, 64, 0.6)',
        'rgba(255, 99, 132, 0.6)'
      ],
      borderWidth:1,
      borderColor:'#777',
      hoverBorderWidth:3,
      hoverBorderColor:'#000'
    }]
  },
  options:{
    title:{
      display:true,
      text:'Prikaz dijagnoza uporabnika po letu',
      fontSize:25
    },
    legend:{
      display:false,
      position:'right',
      labels:{
        fontColor:'#000'
      }
    },
    layout:{
      padding:{
        left:50,
        right:0,
        bottom:0,
        top:0
      }
    },
    tooltips:{
      enabled:true
    }
  }
});
      }            
   
  }
    </script>
    
</body>

</html>